# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Local data/artifacts
data/*.faiss
data/*.parquet
data/*.pt
data/index.faiss
data/meta.parquet

# OS / Editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/